/* .table thead th {
  vertical-align: bottom;
}
.navbar-dark {
  background-color: #343a40;
  border-color: #4b545c;
}
.content-wrapper {
  background-color: #454d55;
  color: #fff;
}
.content-wrapper .content-header {
  color: #fff;
}
.preloader {
  background-color: #454d55 !important;
  color: #fff;
}
.card {
  background-color: #343a40;
  color: #fff;
}
.main-footer {
  background-color: #343a40;
  border-color: #4b545c;
}
.content-wrapper > .content {
  padding: 0 0.5rem;
}
.info-box {
  background-color: #343a40;
  color: #fff;
}
.card-body {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.wrapper {
  background-color: #454d55;
  color: #fff;
}
.invoiceid {
  background-color: #212529;
  border: 1px solid rgba(0, 0, 0, 0.125);
  position: relative;
} */
